config.stopBubbling = true

lombok.anyconstructor.addconstructorproperties = false
lombok.anyConstructor.suppressConstructorProperties = true

lombok.addLombokGeneratedAnnotation = true
lombok.experimental.flagUsage = WARNING

lombok.equalsAndHashCode.callSuper = SKIP
lombok.toString.callSuper = SKIP
lombok.equalsAndHashCode.onlyExplicitlyIncluded = true

lombok.jacksonized.enable = true